// 
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$accent-color-white: #FFFFFF;
$footer-links-color: rgba(255, 255, 255, 0.6);
$team-icon-color: #AFB1B8;
// 
$primary-bg-color: #FFFFFF;
$secondary-bg-color: #F5F4FA;
$gray-bg-color: #2F303A;
$head-border-color: #ECECEC;
$portfolio-border-color: #eeeeee;
$form-color: rgba(255, 255, 255, .3);

// breackpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;