.portfolio {
    @extend .section;
    &__box {
        @extend .container;
    }
    &__hidden-title {
        @extend .visually-hidden;
    }
    &__item {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    // &__list {
    //     // display: flex;
    //     // flex-wrap: wrap;
    // }
    &__wrap {
        position: relative;
        overflow: hidden;
    }
    &__hover-text {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -100%;
        background-color: $accent-color;
        opacity: 0;

        @include font (18px, 400, 1.5);
        color: $accent-color-white;
        padding: 63px 24px 63px 24px;

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

        overflow: auto;
    }
}
.portfolio__menu {
    &--list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    &--item:not(:last-child) {
        margin-right: 8px;
    }
    &--btn {
        @extend .btn;
        background-color: $secondary-bg-color;
        color: $primary-text-color;
        font-weight: 500;
        line-height: 1.6;
        text-align: center;
        
        padding: 6px 22px 6px 22px;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus {
                background-color: $accent-color;
                color: $accent-color-white;
                box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.25),
                    0px 1px 2px 0px rgba(0, 0, 0, 0.25),
                    0px 2px 2px 0px rgba(0, 0, 0, 0.25);
            }
    }
}
.portfolio__item {
    &--title {
        @include font (18px, 700, 2, 0.06em);
        color: $primary-text-color;
        margin-bottom: 4px;
    }
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    &--text {
        color: $secondary-text-color;
        @include font (16px, 400, 1.87);
    }
    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    &--box {
        border-bottom: 1px $portfolio-border-color solid;
        border-right: 1px $portfolio-border-color solid;
        border-left: 1px $portfolio-border-color solid;
        padding: 20px 24px 20px 24px;
    }
    &:hover .portfolio__hover-text,
    &:focus .portfolio__hover-text {
        transform: translateY(-100%);
        opacity: .9;
    }
}