.header{

    @extend .current;
    background-color: $accent-color-white;
    border-bottom: $head-border-color 1px solid;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: $tablet){
        &__nav--list {
            display: flex;
    }
    }



    &__box {
        @extend .container;
        position: relative;

        @media screen and (min-width: $tablet) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
    }

    &__nav--link,
    &__contacts--link {
        @include font (14px, 500, 1.14, 00.02em);
        padding-top: 10px;
        padding-bottom: 10px;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:hover,
        &:focus,
        &:focus {
            color: $accent-color;
    }   
    
}
}
.header__nav {

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    &--item:not(:last-child) {
        @media screen and (min-width: $tablet) {
            margin-right: 50px;
        }
        
    }

    &--list {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &--link {
        color: $primary-text-color;
    }
    @media screen and (min-width: $tablet) {
        &--current {
            position: relative
        }
        &--current::after {
            content: "";
            position: absolute;
            display: block;
            height: 4px;
            width: 100%;
            bottom: -23.5px;
            left: 0;
            border-radius: 2px;
            background-color: $accent-color;
        }
    }

}
.header__contacts {

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
    }

    &--item:not(:last-child) {
        @media screen and (min-width: $tablet) {
            margin-bottom: 10px;
        }
        @media screen and (min-width: $desktop) {
            margin-bottom: 0;
            margin-right: 50px;
        }
    }
    &--link {
        color: $secondary-text-color;
        @media screen and (min-width: $tablet) {
            font-size: 12px;
            line-height: 1.16;
        }
        @media screen and (min-width: $desktop) {
            font-size: 14px;
            line-height: 1.14;
        }
    }
    &--icon {
        margin-right: 10px;
        fill: $secondary-text-color;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
    &--link:hover &--icon,
    &--link:focus &--icon {
        fill: $accent-color;
    }

}