.logo {
    display: inline-block;
    color: $accent-color;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;

    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }
}
.header__logo {
    @extend .logo ;
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: $tablet) {
        margin-right: 88px;
    }

    &--span {
        color: $primary-text-color;
    }
}

.footer__logo {
    display: block;
    @extend .logo;
    margin-bottom: 20px;

    &--span {
        color: $accent-color-white;
    }
}